:root {
	--primary-brand: #4d5ae5;
	--dark: #2e2f42;
	--success: #31d0aa;
	--text: #434455;
	--subtle-text: #8e8f99;
	--accent: #e7e9fc;
	--light: #f4f4fd;
	--button-active: #404bbf;
	--white-text-color: #ffffff;
	--modal-bg: #fcfcfc;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
body {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	letter-spacing: 0.02em;
	color: var(--dark);
	background-color: var(--white-text-color);
	width: 100%;
}
/* ------------------COMPONENTS------------------- */
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
	margin-bottom: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}

.section {
	width: 1440px;

	outline: 2px solid tomato;
}
/* ------------------/COMPONENTS------------------- */

/* ------------------HADER------------------- */

.header {
	display: flex;
	width: 1440px;
	background: var(--white-text-color);
	border-bottom: 1px solid var(--accent);
}

.header-logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	/* IRIS */
	color: var(--primary-brand);
}

.navigation {
	display: flex;
	align-items: center;
	padding-left: 156px;
}
.header-list {
	display: flex;
	gap: 40px;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 76px;
	padding-right: 156px;
}

.header-address {
	margin-left: auto;
}

.header-link {
	font-weight: 500;
	line-height: 1.5;
	color: var(--dark);
}

.header-link:hover,
.header-link:focus {
	color: var(--button-active);
}

.header-link .current {
	color: var(--primary-brand);
}
.header-address {
	font-style: normal;
}

.header-mail,
.header-tel {
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.02em;
	/* SLATE */
	color: var(--text);
}

.header-mail:hover,
.header-tel:hover,
.header-tel:focus,
.header-mail:focus {
	color: var(--button-active);
}

/* ------------------/HEADER------------------- */

/* ------------------MAIN------------------- */

.hero {
	height: 600px;
	background-color: var(--dark);
}
.hero-title {
	font-weight: 700;
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	text-align: center;
	color: var(--white-text-color);

	padding-top: 188px;
	padding-left: 472px;
	padding-right: 472px;
}

.hero-btn {
	font-family: Roboto;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: var(--white-text-color);
	background-color: var(--primary-brand);
	cursor: pointer;
	border: none;
	border-radius: 4px;

	display: flex;
	padding: 16px 32px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 188px;
	margin-top: 48px;
}
.hero-btn:hover,
.hero-btn:focus {
	background-color: var(--button-active);
}

.section-title {
	font-weight: 700;
	font-size: 36px;
	letter-spacing: 0.02em;
	line-height: 1.11;
	text-align: center;
	text-transform: capitalize;
}

.caption {
	font-weight: 500;
	letter-spacing: 0.02em;
	font-size: 20px;
	line-height: 1.2;
}
.caption-text {
	letter-spacing: 0.02em;
	line-height: 1.5;
	/* SLATE */
	color: var(--text);
}

.filter {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	text-align: center;
	letter-spacing: 0.04em;
	cursor: pointer;
	color: var(--primary-brand);
	background: var(--light);
	border: 1px solid var(--accent);
	border-radius: 4px;
	display: block;
	min-height: 48px;
	min-width: 69px;
}
.filter:hover,
.filter:focus {
	color: var(--white-text-color);
	background-color: var(--button-active);
}

.section-list-btn {
	display: flex;
	justify-content: space-between;

	padding-left: 472px;
	padding-top: 96px;
	padding-right: 472px;
	padding-bottom: 72px;
}
.section-list.portfolio {
	display: flex;
	min-width: 1128px;

	flex-wrap: wrap;
	padding-left: 156px;
	padding-right: 156px;
	padding-bottom: 48px;
	gap: 24px;
}
.section-item.portfolio {
	display: block;
	min-width: 360px;
}
.caption.portfolio {
	display: block;

	text-align: left;
}
.caption-text.portfolio {
	display: block;

	text-align: left;
}

/* ------------------/MAIN------------------- */

/* ------------------FOOTER------------------- */

.footer {
	display: block;
	width: 1440px;
	min-height: 310px;
	background-color: var(--dark);
}
.footer-logo {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	display: flex;
	align-items: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-brand);

	padding-top: 100px;
	padding-left: 156px;
	padding-bottom: 16px;
}
.footer-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
	color: var(--accent);

	padding-bottom: 100px;
	padding-left: 156px;
	padding-right: 1020px;
}
/* ------------------/FOOTER------------------- */
